<a href="https://colab.research.google.com/github/UDICatNCHU/SparkTutorial/blob/master/(Spark%20Tutorial)%20%E4%B8%8A%E8%AA%B2%E8%AC%9B%E7%BE%A9%202019_Spark_DataFrame_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
! wget -O init_env.sh https://www.dropbox.com/s/cce2nnozquh8twz/init_env%20spark%203.1.1.sh?dl=0 && \
bash init_env.sh

--2021-11-25 04:05:12--  https://www.dropbox.com/s/cce2nnozquh8twz/init_env%20spark%203.0.1.sh?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.2.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.2.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/cce2nnozquh8twz/init_env%20spark%203.0.1.sh [following]
--2021-11-25 04:05:12--  https://www.dropbox.com/s/raw/cce2nnozquh8twz/init_env%20spark%203.0.1.sh
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc27078e7ac6ce3df96a4743a089.dl.dropboxusercontent.com/cd/0/inline/BakoF12MvG-aBTDpJaTfJkPAn_u4KIg7jycD5Cgvni9PdH9K-_AJ7dqmh4mIRX6fTW-OTwuUmSdjpyaoFurOsFWC2s3MMNaqPmkP8B7zHr5BdsNu7-EeayQPFPo1TQnzOrTQW93eZxEnI-GbzuiT51iI/file# [following]
--2021-11-25 04:05:13--  https://uc27078e7ac6ce3df96a4743a089.dl.dropboxusercontent.com/cd/0/inline/BakoF12MvG-aBTDpJaTfJkPAn_u4KIg7jycD5Cgvni9PdH9K-_AJ7dqmh4mIRX6fTW-OTwuUmSdjpyaoFurOsFWC2s3MMNaqPmkP8B7zHr5BdsNu7-EeayQPFPo1TQnzOrTQW93eZxEnI-GbzuiT51iI/file
Resolving uc27078e7ac6ce3df96a4743a089.dl.dropboxusercontent.com (uc27078e7ac6ce3df96a4743a089.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6022:15::a27d:420f
Connecting to uc27078e7ac6ce3df96a4743a089.dl.dropboxusercontent.com (uc27078e7ac6ce3df96a4743a089.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 341 [text/plain]
Saving to: ‘init_env.sh’

init_env.sh         100%[===================>]     341  --.-KB/s    in 0s

2021-11-25 04:05:13 (40.0 MB/s) - ‘init_env.sh’ saved [341/341]

環境初始化完畢

In [26]:
import os, sys
os.environ['SPARK_HOME'] = "/usr/local/spark"
os.environ['PYSPARK_PYTHON'] = "/usr/local/bin/python"
sys.path.append("/usr/local/spark/python/")
sys.path.append("/usr/local/spark/python/lib/pyspark.zip")
sys.path.append("/usr/local/spark/python/lib/py4j-0.10.9-src.zip")

In [27]:
from pyspark import SparkContext
from pyspark import SparkConf
sc = SparkContext()

ValueError: ignored

In [28]:
!wget -O pm25.csv "https://www.dropbox.com/s/zkn3ba7pitv83el/pm2.5Taiwan.csv?dl=0"

--2021-11-25 04:05:35--  https://www.dropbox.com/s/zkn3ba7pitv83el/pm2.5Taiwan.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:6017:18::a27d:212
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/zkn3ba7pitv83el/pm2.5Taiwan.csv [following]
--2021-11-25 04:05:35--  https://www.dropbox.com/s/raw/zkn3ba7pitv83el/pm2.5Taiwan.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucf1de17698f7673545434833114.dl.dropboxusercontent.com/cd/0/inline/Bak4KV5e_FfchNV1sqXLSEBm34olnzi4yn4gTNDagHFOnV7nplHcd2l7OY-HKL0ldVVoFrZ2KpJd74WM55G_UjkeufsCZhfop63jFIVYysRCBiNq3gUtyRogBOOrUSXqa8vtiH7DPryiwSbNrkP_NWKn/file# [following]
--2021-11-25 04:05:35--  https://ucf1de17698f7673545434833114.dl.dropboxusercontent.com/cd/0/inline/Bak4KV5e_FfchNV1sqXLSEBm34olnzi4yn4gTNDagHFOnV7nplHcd2l7OY-HKL0ldVVoFrZ2KpJd74WM55G_UjkeufsCZhfop63jFIVYysRCBiNq3gUtyRogBOOrUSXqa8vtiH7DPryiwSbNrkP_NWKn/file
Resolving ucf1de17698f7673545434833114.dl.dropboxusercontent.com (ucf1de17698f7673545434833114.dl.dropboxusercontent.com)... 162.125.2.15, 2620:100:6017:15::a27d:20f
Connecting to ucf1de17698f7673545434833114.dl.dropboxusercontent.com (ucf1de17698f7673545434833114.dl.dropboxusercontent.com)|162.125.2.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 50453822 (48M) [text/plain]
Saving to: ‘pm25.csv’

pm25.csv            100%[===================>]  48.12M  70.1MB/s    in 0.7s

2021-11-25 04:05:37 (70.1 MB/s) - ‘pm25.csv’ saved [50453822/50453822]

In [ ]:
weather = sc.textFile("./pm25.csv")

In [ ]:
weather_data_rdd = weather.map(lambda line : line.split(","))
pm25schema = weather_data_rdd.first()
# print(pm25schema)

# 回想如何使用RDD計算求取2015年，大里每小時的平均pm25數值。

In [ ]:
clean_weather_data = weather_data_rdd\
                    .filter(lambda x: x!=pm25schema)\
                    .filter(remove_row_with_noise)

In [ ]:
dalipm25 = clean_weather_data.filter(lambda x: x[1] == '大里' and x[2]== "PM2.5")

In [ ]:
import math
def remove_row_with_noise (x):
    for i in range(3, len(x)):
        if not x[i].isdecimal():
            return False
    return True 

def hourKeyGen(x):
    hourkeypair = []
    x=x[3:]
    for i, value in enumerate(x):
      print(i, value)
      hourkeypair.append((i, float(value)))
    return hourkeypair

count = dalipm25.count()
HourSum = dalipm25\
            .flatMap(hourKeyGen)\
            .reduceByKey(lambda x,y: x+y)\
            .mapValues(lambda x: x/count)\
            .map(lambda x: (x[1],x[0])).top(24)

print(HourSum)

[(35.43939393939394, 11), (35.38383838383838, 12), (34.92424242424242, 10), (34.59090909090909, 13), (33.43434343434343, 14), (32.80808080808081, 9), (32.63636363636363, 21), (32.505050505050505, 20), (32.474747474747474, 15), (32.18181818181818, 22), (31.747474747474747, 19), (31.166666666666668, 16), (30.939393939393938, 23), (30.818181818181817, 17), (30.63131313131313, 18), (30.04040404040404, 0), (29.636363636363637, 8), (29.1010101010101, 1), (28.1010101010101, 2), (27.065656565656564, 3), (26.51010101010101, 7), (25.853535353535353, 4), (25.055555555555557, 5), (24.883838383838384, 6)]

# 使用DataFrame 來計算每小時平均值

In [ ]:
print(dalipm25.first())

['2015/01/01', '大里', 'PM2.5', '53', '55', '58', '53', '43', '36', '35', '42', '55', '64', '65', '59', '52', '44', '47', '41', '43', '40', '42', '35', '28', '20', '18', '16']

In [ ]:
from pyspark.sql import SQLContext
from pyspark.sql import Row
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .getOrCreate()

In [ ]:
from pyspark.sql import SQLContext
from pyspark.sql import Row

dalipm25row = dalipm25.map(lambda p:
        Row(
        date = p[0],
        location = p[1],
        measure = p[2],
        hr_01 = float(p[3]), hr_02 = float(p[4]),hr_03 = float(p[5]),hr_04 = float(p[6]),hr_05 = float(p[7]),
        hr_06 = float(p[8]),hr_07 = float(p[9]),hr_08 = float(p[10]),hr_09 = float(p[11]),hr_10 = float(p[12]),
        hr_11 = float(p[13]),hr_12 = float(p[14]),hr_13 = float(p[15]),hr_14 = float(p[16]),hr_15 = float(p[17]),
        hr_16 = float(p[18]),hr_17 = float(p[19]),hr_18 = float(p[20]),hr_19 = float(p[21]),hr_20 = float(p[22]),
        hr_21 = float(p[23]),hr_22 = float(p[24]),hr_23 = float(p[25]),hr_24 = float(p[26]),
    )
)

dalipm25row.take(5)

[Row(date='2015/01/01', hr_01=53.0, hr_02=55.0, hr_03=58.0, hr_04=53.0, hr_05=43.0, hr_06=36.0, hr_07=35.0, hr_08=42.0, hr_09=55.0, hr_10=64.0, hr_11=65.0, hr_12=59.0, hr_13=52.0, hr_14=44.0, hr_15=47.0, hr_16=41.0, hr_17=43.0, hr_18=40.0, hr_19=42.0, hr_20=35.0, hr_21=28.0, hr_22=20.0, hr_23=18.0, hr_24=16.0, location='大里', measure='PM2.5'),
 Row(date='2015/01/02', hr_01=21.0, hr_02=22.0, hr_03=26.0, hr_04=23.0, hr_05=20.0, hr_06=18.0, hr_07=15.0, hr_08=21.0, hr_09=21.0, hr_10=25.0, hr_11=29.0, hr_12=32.0, hr_13=34.0, hr_14=29.0, hr_15=32.0, hr_16=39.0, hr_17=51.0, hr_18=51.0, hr_19=47.0, hr_20=43.0, hr_21=43.0, hr_22=48.0, hr_23=47.0, hr_24=53.0, location='大里', measure='PM2.5'),
 Row(date='2015/01/03', hr_01=48.0, hr_02=48.0, hr_03=43.0, hr_04=38.0, hr_05=37.0, hr_06=36.0, hr_07=37.0, hr_08=34.0, hr_09=37.0, hr_10=46.0, hr_11=64.0, hr_12=77.0, hr_13=83.0, hr_14=75.0, hr_15=68.0, hr_16=69.0, hr_17=64.0, hr_18=65.0, hr_19=59.0, hr_20=66.0, hr_21=71.0, hr_22=66.0, hr_23=57.0, hr_24=48.0, location='大里', measure='PM2.5'),
 Row(date='2015/01/04', hr_01=60.0, hr_02=56.0, hr_03=53.0, hr_04=43.0, hr_05=53.0, hr_06=53.0, hr_07=52.0, hr_08=44.0, hr_09=44.0, hr_10=50.0, hr_11=49.0, hr_12=51.0, hr_13=45.0, hr_14=42.0, hr_15=40.0, hr_16=38.0, hr_17=36.0, hr_18=43.0, hr_19=51.0, hr_20=63.0, hr_21=68.0, hr_22=72.0, hr_23=66.0, hr_24=58.0, location='大里', measure='PM2.5'),
 Row(date='2015/01/05', hr_01=48.0, hr_02=42.0, hr_03=42.0, hr_04=34.0, hr_05=34.0, hr_06=28.0, hr_07=34.0, hr_08=35.0, hr_09=45.0, hr_10=47.0, hr_11=54.0, hr_12=46.0, hr_13=35.0, hr_14=19.0, hr_15=16.0, hr_16=21.0, hr_17=24.0, hr_18=28.0, hr_19=37.0, hr_20=52.0, hr_21=60.0, hr_22=62.0, hr_23=64.0, hr_24=61.0, location='大里', measure='PM2.5')]

In [ ]:
df = spark.createDataFrame(dalipm25row)
df.show()

+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-------+
|      date|hr_01|hr_02|hr_03|hr_04|hr_05|hr_06|hr_07|hr_08|hr_09|hr_10|hr_11|hr_12|hr_13|hr_14|hr_15|hr_16|hr_17|hr_18|hr_19|hr_20|hr_21|hr_22|hr_23|hr_24|location|measure|
+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-------+
|2015/01/01| 53.0| 55.0| 58.0| 53.0| 43.0| 36.0| 35.0| 42.0| 55.0| 64.0| 65.0| 59.0| 52.0| 44.0| 47.0| 41.0| 43.0| 40.0| 42.0| 35.0| 28.0| 20.0| 18.0| 16.0|      大里|  PM2.5|
|2015/01/02| 21.0| 22.0| 26.0| 23.0| 20.0| 18.0| 15.0| 21.0| 21.0| 25.0| 29.0| 32.0| 34.0| 29.0| 32.0| 39.0| 51.0| 51.0| 47.0| 43.0| 43.0| 48.0| 47.0| 53.0|      大里|  PM2.5|
|2015/01/03| 48.0| 48.0| 43.0| 38.0| 37.0| 36.0| 37.0| 34.0| 37.0| 46.0| 64.0| 77.0| 83.0| 75.0| 68.0| 69.0| 64.0| 65.0| 59.0| 66.0| 71.0| 66.0| 57.0| 48.0|      大里|  PM2.5|
|2015/01/04| 60.0| 56.0| 53.0| 43.0| 53.0| 53.0| 52.0| 44.0| 44.0| 50.0| 49.0| 51.0| 45.0| 42.0| 40.0| 38.0| 36.0| 43.0| 51.0| 63.0| 68.0| 72.0| 66.0| 58.0|      大里|  PM2.5|
|2015/01/05| 48.0| 42.0| 42.0| 34.0| 34.0| 28.0| 34.0| 35.0| 45.0| 47.0| 54.0| 46.0| 35.0| 19.0| 16.0| 21.0| 24.0| 28.0| 37.0| 52.0| 60.0| 62.0| 64.0| 61.0|      大里|  PM2.5|
|2015/01/06| 59.0| 40.0| 34.0| 25.0| 27.0| 29.0| 26.0| 33.0| 42.0| 47.0| 38.0| 24.0| 14.0|  8.0| 17.0| 30.0| 51.0| 62.0| 68.0| 83.0| 83.0| 96.0|103.0|110.0|      大里|  PM2.5|
|2015/01/08|  7.0|  9.0| 13.0| 18.0| 11.0| 12.0| 17.0| 29.0| 34.0| 39.0| 41.0| 46.0| 46.0| 44.0| 43.0| 39.0| 41.0| 46.0| 47.0| 48.0| 47.0| 47.0| 43.0| 33.0|      大里|  PM2.5|
|2015/01/09| 35.0| 34.0| 37.0| 30.0| 25.0| 25.0| 22.0| 21.0| 18.0| 20.0| 14.0| 12.0| 21.0| 31.0| 44.0| 46.0| 52.0| 44.0| 39.0| 37.0| 43.0| 43.0| 42.0| 39.0|      大里|  PM2.5|
|2015/01/10| 38.0| 33.0| 31.0| 24.0| 20.0| 19.0| 22.0| 31.0| 31.0| 45.0| 48.0| 49.0| 38.0| 39.0| 43.0| 46.0| 43.0| 36.0| 33.0| 29.0| 37.0| 34.0| 39.0| 33.0|      大里|  PM2.5|
|2015/01/11| 37.0| 41.0| 43.0| 43.0| 27.0| 22.0| 26.0| 34.0| 39.0| 37.0| 51.0| 53.0| 61.0| 56.0| 48.0| 43.0| 37.0| 43.0| 43.0| 48.0| 54.0| 51.0| 46.0| 35.0|      大里|  PM2.5|
|2015/01/12| 36.0| 40.0| 33.0| 32.0| 33.0| 40.0| 37.0| 34.0| 39.0| 53.0| 60.0| 65.0| 57.0| 50.0| 52.0| 51.0| 43.0| 24.0| 20.0| 28.0| 35.0| 40.0| 30.0| 36.0|      大里|  PM2.5|
|2015/01/13| 36.0| 36.0| 32.0| 33.0| 38.0| 45.0| 38.0| 45.0| 45.0| 76.0| 84.0| 96.0| 92.0| 87.0| 64.0| 33.0| 21.0| 22.0| 20.0| 15.0|  7.0| 12.0|  9.0| 11.0|      大里|  PM2.5|
|2015/01/14| 10.0|  7.0|  3.0|  0.0|  3.0|  7.0|  5.0|  1.0|  0.0|  0.0|  0.0|  0.0|  0.0|  0.0|  4.0| 12.0| 13.0| 10.0| 12.0| 14.0| 21.0| 19.0| 15.0|  8.0|      大里|  PM2.5|
|2015/01/15|  2.0|  3.0|  7.0|  3.0|  7.0|  5.0| 10.0|  7.0| 13.0| 16.0| 14.0|  8.0|  5.0| 13.0| 20.0| 30.0| 30.0| 33.0| 28.0| 29.0| 33.0| 26.0| 23.0| 12.0|      大里|  PM2.5|
|2015/01/17| 42.0| 33.0| 25.0| 18.0| 13.0|  9.0| 12.0| 20.0| 28.0| 33.0| 33.0| 43.0| 52.0| 55.0| 57.0| 60.0| 66.0| 77.0| 76.0| 76.0| 77.0| 74.0| 82.0| 75.0|      大里|  PM2.5|
|2015/01/18| 77.0| 66.0| 61.0| 62.0| 70.0| 71.0| 69.0| 71.0| 75.0| 82.0| 90.0| 94.0| 88.0| 75.0| 57.0| 47.0| 33.0| 31.0| 25.0| 21.0| 16.0| 16.0| 18.0| 16.0|      大里|  PM2.5|
|2015/01/19| 14.0| 14.0| 19.0| 18.0| 16.0|  7.0|  6.0| 12.0| 18.0| 30.0| 26.0| 28.0| 31.0| 32.0| 35.0| 37.0| 41.0| 43.0| 42.0| 50.0| 53.0| 54.0| 57.0| 62.0|      大里|  PM2.5|
|2015/01/20| 62.0| 57.0| 52.0| 53.0| 61.0| 62.0| 62.0| 65.0| 73.0| 82.0| 83.0| 88.0| 83.0| 81.0| 73.0| 71.0| 69.0| 71.0| 66.0| 55.0| 49.0| 42.0| 49.0| 43.0|      大里|  PM2.5|
|2015/01/21| 46.0| 37.0| 30.0| 31.0| 31.0| 38.0| 42.0| 46.0| 46.0| 36.0| 33.0| 33.0| 37.0| 34.0| 33.0| 33.0| 34.0| 39.0| 48.0| 50.0| 47.0| 45.0| 43.0| 39.0|      大里|  PM2.5|
|2015/01/23| 61.0| 47.0| 46.0| 55.0| 49.0| 39.0| 29.0| 31.0| 29.0| 19.0| 12.0| 14.0| 30.0| 49.0| 57.0| 55.0| 57.0| 56.0| 64.0| 72.0| 73.0| 75.0| 68.0| 68.0|      大里|  PM2.5|
+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-------+
only showing top 20 rows

# 直接透過rdd生成data frame. toDF()

In [ ]:
dalipm25.toDF().show()

+----------+---+-----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|        _1| _2|   _3| _4| _5| _6| _7| _8| _9|_10|_11|_12|_13|_14|_15|_16|_17|_18|_19|_20|_21|_22|_23|_24|_25|_26|_27|
+----------+---+-----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|2015/01/01| 大里|PM2.5| 53| 55| 58| 53| 43| 36| 35| 42| 55| 64| 65| 59| 52| 44| 47| 41| 43| 40| 42| 35| 28| 20| 18| 16|
|2015/01/02| 大里|PM2.5| 21| 22| 26| 23| 20| 18| 15| 21| 21| 25| 29| 32| 34| 29| 32| 39| 51| 51| 47| 43| 43| 48| 47| 53|
|2015/01/03| 大里|PM2.5| 48| 48| 43| 38| 37| 36| 37| 34| 37| 46| 64| 77| 83| 75| 68| 69| 64| 65| 59| 66| 71| 66| 57| 48|
|2015/01/04| 大里|PM2.5| 60| 56| 53| 43| 53| 53| 52| 44| 44| 50| 49| 51| 45| 42| 40| 38| 36| 43| 51| 63| 68| 72| 66| 58|
|2015/01/05| 大里|PM2.5| 48| 42| 42| 34| 34| 28| 34| 35| 45| 47| 54| 46| 35| 19| 16| 21| 24| 28| 37| 52| 60| 62| 64| 61|
|2015/01/06| 大里|PM2.5| 59| 40| 34| 25| 27| 29| 26| 33| 42| 47| 38| 24| 14|  8| 17| 30| 51| 62| 68| 83| 83| 96|103|110|
|2015/01/08| 大里|PM2.5|  7|  9| 13| 18| 11| 12| 17| 29| 34| 39| 41| 46| 46| 44| 43| 39| 41| 46| 47| 48| 47| 47| 43| 33|
|2015/01/09| 大里|PM2.5| 35| 34| 37| 30| 25| 25| 22| 21| 18| 20| 14| 12| 21| 31| 44| 46| 52| 44| 39| 37| 43| 43| 42| 39|
|2015/01/10| 大里|PM2.5| 38| 33| 31| 24| 20| 19| 22| 31| 31| 45| 48| 49| 38| 39| 43| 46| 43| 36| 33| 29| 37| 34| 39| 33|
|2015/01/11| 大里|PM2.5| 37| 41| 43| 43| 27| 22| 26| 34| 39| 37| 51| 53| 61| 56| 48| 43| 37| 43| 43| 48| 54| 51| 46| 35|
|2015/01/12| 大里|PM2.5| 36| 40| 33| 32| 33| 40| 37| 34| 39| 53| 60| 65| 57| 50| 52| 51| 43| 24| 20| 28| 35| 40| 30| 36|
|2015/01/13| 大里|PM2.5| 36| 36| 32| 33| 38| 45| 38| 45| 45| 76| 84| 96| 92| 87| 64| 33| 21| 22| 20| 15|  7| 12|  9| 11|
|2015/01/14| 大里|PM2.5| 10|  7|  3|  0|  3|  7|  5|  1|  0|  0|  0|  0|  0|  0|  4| 12| 13| 10| 12| 14| 21| 19| 15|  8|
|2015/01/15| 大里|PM2.5|  2|  3|  7|  3|  7|  5| 10|  7| 13| 16| 14|  8|  5| 13| 20| 30| 30| 33| 28| 29| 33| 26| 23| 12|
|2015/01/17| 大里|PM2.5| 42| 33| 25| 18| 13|  9| 12| 20| 28| 33| 33| 43| 52| 55| 57| 60| 66| 77| 76| 76| 77| 74| 82| 75|
|2015/01/18| 大里|PM2.5| 77| 66| 61| 62| 70| 71| 69| 71| 75| 82| 90| 94| 88| 75| 57| 47| 33| 31| 25| 21| 16| 16| 18| 16|
|2015/01/19| 大里|PM2.5| 14| 14| 19| 18| 16|  7|  6| 12| 18| 30| 26| 28| 31| 32| 35| 37| 41| 43| 42| 50| 53| 54| 57| 62|
|2015/01/20| 大里|PM2.5| 62| 57| 52| 53| 61| 62| 62| 65| 73| 82| 83| 88| 83| 81| 73| 71| 69| 71| 66| 55| 49| 42| 49| 43|
|2015/01/21| 大里|PM2.5| 46| 37| 30| 31| 31| 38| 42| 46| 46| 36| 33| 33| 37| 34| 33| 33| 34| 39| 48| 50| 47| 45| 43| 39|
|2015/01/23| 大里|PM2.5| 61| 47| 46| 55| 49| 39| 29| 31| 29| 19| 12| 14| 30| 49| 57| 55| 57| 56| 64| 72| 73| 75| 68| 68|
+----------+---+-----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 20 rows

In [ ]:
pm25schema = weather_data_rdd.first()
dalipm25.toDF(pm25schema).show()

+----------+---+-----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|        日期| 測站|   測項| 00| 01| 02| 03| 04| 05| 06| 07| 08| 09| 10| 11| 12| 13| 14| 15| 16| 17| 18| 19| 20| 21| 22| 23|
+----------+---+-----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|2015/01/01| 大里|PM2.5| 53| 55| 58| 53| 43| 36| 35| 42| 55| 64| 65| 59| 52| 44| 47| 41| 43| 40| 42| 35| 28| 20| 18| 16|
|2015/01/02| 大里|PM2.5| 21| 22| 26| 23| 20| 18| 15| 21| 21| 25| 29| 32| 34| 29| 32| 39| 51| 51| 47| 43| 43| 48| 47| 53|
|2015/01/03| 大里|PM2.5| 48| 48| 43| 38| 37| 36| 37| 34| 37| 46| 64| 77| 83| 75| 68| 69| 64| 65| 59| 66| 71| 66| 57| 48|
|2015/01/04| 大里|PM2.5| 60| 56| 53| 43| 53| 53| 52| 44| 44| 50| 49| 51| 45| 42| 40| 38| 36| 43| 51| 63| 68| 72| 66| 58|
|2015/01/05| 大里|PM2.5| 48| 42| 42| 34| 34| 28| 34| 35| 45| 47| 54| 46| 35| 19| 16| 21| 24| 28| 37| 52| 60| 62| 64| 61|
|2015/01/06| 大里|PM2.5| 59| 40| 34| 25| 27| 29| 26| 33| 42| 47| 38| 24| 14|  8| 17| 30| 51| 62| 68| 83| 83| 96|103|110|
|2015/01/08| 大里|PM2.5|  7|  9| 13| 18| 11| 12| 17| 29| 34| 39| 41| 46| 46| 44| 43| 39| 41| 46| 47| 48| 47| 47| 43| 33|
|2015/01/09| 大里|PM2.5| 35| 34| 37| 30| 25| 25| 22| 21| 18| 20| 14| 12| 21| 31| 44| 46| 52| 44| 39| 37| 43| 43| 42| 39|
|2015/01/10| 大里|PM2.5| 38| 33| 31| 24| 20| 19| 22| 31| 31| 45| 48| 49| 38| 39| 43| 46| 43| 36| 33| 29| 37| 34| 39| 33|
|2015/01/11| 大里|PM2.5| 37| 41| 43| 43| 27| 22| 26| 34| 39| 37| 51| 53| 61| 56| 48| 43| 37| 43| 43| 48| 54| 51| 46| 35|
|2015/01/12| 大里|PM2.5| 36| 40| 33| 32| 33| 40| 37| 34| 39| 53| 60| 65| 57| 50| 52| 51| 43| 24| 20| 28| 35| 40| 30| 36|
|2015/01/13| 大里|PM2.5| 36| 36| 32| 33| 38| 45| 38| 45| 45| 76| 84| 96| 92| 87| 64| 33| 21| 22| 20| 15|  7| 12|  9| 11|
|2015/01/14| 大里|PM2.5| 10|  7|  3|  0|  3|  7|  5|  1|  0|  0|  0|  0|  0|  0|  4| 12| 13| 10| 12| 14| 21| 19| 15|  8|
|2015/01/15| 大里|PM2.5|  2|  3|  7|  3|  7|  5| 10|  7| 13| 16| 14|  8|  5| 13| 20| 30| 30| 33| 28| 29| 33| 26| 23| 12|
|2015/01/17| 大里|PM2.5| 42| 33| 25| 18| 13|  9| 12| 20| 28| 33| 33| 43| 52| 55| 57| 60| 66| 77| 76| 76| 77| 74| 82| 75|
|2015/01/18| 大里|PM2.5| 77| 66| 61| 62| 70| 71| 69| 71| 75| 82| 90| 94| 88| 75| 57| 47| 33| 31| 25| 21| 16| 16| 18| 16|
|2015/01/19| 大里|PM2.5| 14| 14| 19| 18| 16|  7|  6| 12| 18| 30| 26| 28| 31| 32| 35| 37| 41| 43| 42| 50| 53| 54| 57| 62|
|2015/01/20| 大里|PM2.5| 62| 57| 52| 53| 61| 62| 62| 65| 73| 82| 83| 88| 83| 81| 73| 71| 69| 71| 66| 55| 49| 42| 49| 43|
|2015/01/21| 大里|PM2.5| 46| 37| 30| 31| 31| 38| 42| 46| 46| 36| 33| 33| 37| 34| 33| 33| 34| 39| 48| 50| 47| 45| 43| 39|
|2015/01/23| 大里|PM2.5| 61| 47| 46| 55| 49| 39| 29| 31| 29| 19| 12| 14| 30| 49| 57| 55| 57| 56| 64| 72| 73| 75| 68| 68|
+----------+---+-----+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 20 rows

In [ ]:
dfpm25 = dalipm25.toDF(pm25schema)

In [ ]:
for i in dfpm25.columns[3:]:
  dfpm25 = dfpm25.withColumn(i, dfpm25[i].cast("double"))

In [ ]:
dfpm25.printSchema()

root
 |-- 日期: string (nullable = true)
 |-- 測站: string (nullable = true)
 |-- 測項: string (nullable = true)
 |-- 00: double (nullable = true)
 |-- 01: double (nullable = true)
 |-- 02: double (nullable = true)
 |-- 03: double (nullable = true)
 |-- 04: double (nullable = true)
 |-- 05: double (nullable = true)
 |-- 06: double (nullable = true)
 |-- 07: double (nullable = true)
 |-- 08: double (nullable = true)
 |-- 09: double (nullable = true)
 |-- 10: double (nullable = true)
 |-- 11: double (nullable = true)
 |-- 12: double (nullable = true)
 |-- 13: double (nullable = true)
 |-- 14: double (nullable = true)
 |-- 15: double (nullable = true)
 |-- 16: double (nullable = true)
 |-- 17: double (nullable = true)
 |-- 18: double (nullable = true)
 |-- 19: double (nullable = true)
 |-- 20: double (nullable = true)
 |-- 21: double (nullable = true)
 |-- 22: double (nullable = true)
 |-- 23: double (nullable = true)

# 使用 DataFrame.filter() 來進行row資料之條件計算 http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [ ]:
df.filter(df.hr_01>30).show()

+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-------+
|      date|hr_01|hr_02|hr_03|hr_04|hr_05|hr_06|hr_07|hr_08|hr_09|hr_10|hr_11|hr_12|hr_13|hr_14|hr_15|hr_16|hr_17|hr_18|hr_19|hr_20|hr_21|hr_22|hr_23|hr_24|location|measure|
+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-------+
|2015/01/01| 53.0| 55.0| 58.0| 53.0| 43.0| 36.0| 35.0| 42.0| 55.0| 64.0| 65.0| 59.0| 52.0| 44.0| 47.0| 41.0| 43.0| 40.0| 42.0| 35.0| 28.0| 20.0| 18.0| 16.0|      大里|  PM2.5|
|2015/01/03| 48.0| 48.0| 43.0| 38.0| 37.0| 36.0| 37.0| 34.0| 37.0| 46.0| 64.0| 77.0| 83.0| 75.0| 68.0| 69.0| 64.0| 65.0| 59.0| 66.0| 71.0| 66.0| 57.0| 48.0|      大里|  PM2.5|
|2015/01/04| 60.0| 56.0| 53.0| 43.0| 53.0| 53.0| 52.0| 44.0| 44.0| 50.0| 49.0| 51.0| 45.0| 42.0| 40.0| 38.0| 36.0| 43.0| 51.0| 63.0| 68.0| 72.0| 66.0| 58.0|      大里|  PM2.5|
|2015/01/05| 48.0| 42.0| 42.0| 34.0| 34.0| 28.0| 34.0| 35.0| 45.0| 47.0| 54.0| 46.0| 35.0| 19.0| 16.0| 21.0| 24.0| 28.0| 37.0| 52.0| 60.0| 62.0| 64.0| 61.0|      大里|  PM2.5|
|2015/01/06| 59.0| 40.0| 34.0| 25.0| 27.0| 29.0| 26.0| 33.0| 42.0| 47.0| 38.0| 24.0| 14.0|  8.0| 17.0| 30.0| 51.0| 62.0| 68.0| 83.0| 83.0| 96.0|103.0|110.0|      大里|  PM2.5|
|2015/01/09| 35.0| 34.0| 37.0| 30.0| 25.0| 25.0| 22.0| 21.0| 18.0| 20.0| 14.0| 12.0| 21.0| 31.0| 44.0| 46.0| 52.0| 44.0| 39.0| 37.0| 43.0| 43.0| 42.0| 39.0|      大里|  PM2.5|
|2015/01/10| 38.0| 33.0| 31.0| 24.0| 20.0| 19.0| 22.0| 31.0| 31.0| 45.0| 48.0| 49.0| 38.0| 39.0| 43.0| 46.0| 43.0| 36.0| 33.0| 29.0| 37.0| 34.0| 39.0| 33.0|      大里|  PM2.5|
|2015/01/11| 37.0| 41.0| 43.0| 43.0| 27.0| 22.0| 26.0| 34.0| 39.0| 37.0| 51.0| 53.0| 61.0| 56.0| 48.0| 43.0| 37.0| 43.0| 43.0| 48.0| 54.0| 51.0| 46.0| 35.0|      大里|  PM2.5|
|2015/01/12| 36.0| 40.0| 33.0| 32.0| 33.0| 40.0| 37.0| 34.0| 39.0| 53.0| 60.0| 65.0| 57.0| 50.0| 52.0| 51.0| 43.0| 24.0| 20.0| 28.0| 35.0| 40.0| 30.0| 36.0|      大里|  PM2.5|
|2015/01/13| 36.0| 36.0| 32.0| 33.0| 38.0| 45.0| 38.0| 45.0| 45.0| 76.0| 84.0| 96.0| 92.0| 87.0| 64.0| 33.0| 21.0| 22.0| 20.0| 15.0|  7.0| 12.0|  9.0| 11.0|      大里|  PM2.5|
|2015/01/17| 42.0| 33.0| 25.0| 18.0| 13.0|  9.0| 12.0| 20.0| 28.0| 33.0| 33.0| 43.0| 52.0| 55.0| 57.0| 60.0| 66.0| 77.0| 76.0| 76.0| 77.0| 74.0| 82.0| 75.0|      大里|  PM2.5|
|2015/01/18| 77.0| 66.0| 61.0| 62.0| 70.0| 71.0| 69.0| 71.0| 75.0| 82.0| 90.0| 94.0| 88.0| 75.0| 57.0| 47.0| 33.0| 31.0| 25.0| 21.0| 16.0| 16.0| 18.0| 16.0|      大里|  PM2.5|
|2015/01/20| 62.0| 57.0| 52.0| 53.0| 61.0| 62.0| 62.0| 65.0| 73.0| 82.0| 83.0| 88.0| 83.0| 81.0| 73.0| 71.0| 69.0| 71.0| 66.0| 55.0| 49.0| 42.0| 49.0| 43.0|      大里|  PM2.5|
|2015/01/21| 46.0| 37.0| 30.0| 31.0| 31.0| 38.0| 42.0| 46.0| 46.0| 36.0| 33.0| 33.0| 37.0| 34.0| 33.0| 33.0| 34.0| 39.0| 48.0| 50.0| 47.0| 45.0| 43.0| 39.0|      大里|  PM2.5|
|2015/01/23| 61.0| 47.0| 46.0| 55.0| 49.0| 39.0| 29.0| 31.0| 29.0| 19.0| 12.0| 14.0| 30.0| 49.0| 57.0| 55.0| 57.0| 56.0| 64.0| 72.0| 73.0| 75.0| 68.0| 68.0|      大里|  PM2.5|
|2015/01/24| 63.0| 61.0| 59.0| 58.0| 56.0| 52.0| 39.0| 33.0| 34.0| 40.0| 30.0| 33.0| 49.0| 66.0| 76.0| 75.0| 73.0| 60.0| 58.0| 67.0| 83.0| 88.0| 87.0| 80.0|      大里|  PM2.5|
|2015/01/25| 71.0| 68.0| 65.0| 63.0| 63.0| 62.0| 57.0| 55.0| 65.0| 70.0| 79.0| 75.0| 75.0| 64.0| 59.0| 68.0| 78.0| 86.0| 80.0| 74.0| 66.0| 60.0| 49.0| 44.0|      大里|  PM2.5|
|2015/01/26| 50.0| 53.0| 48.0| 43.0| 38.0| 40.0| 38.0| 47.0| 49.0| 59.0| 55.0| 53.0| 39.0| 29.0| 28.0| 38.0| 51.0| 55.0| 53.0| 55.0| 54.0| 61.0| 55.0| 61.0|      大里|  PM2.5|
|2015/01/27| 56.0| 52.0| 41.0| 46.0| 49.0| 52.0| 43.0| 43.0| 48.0| 48.0| 40.0| 30.0| 30.0| 33.0| 36.0| 37.0| 35.0| 36.0| 43.0| 46.0| 42.0| 30.0| 22.0| 17.0|      大里|  PM2.5|
|2015/02/07| 32.0| 32.0| 38.0| 43.0| 49.0| 48.0| 47.0| 54.0| 56.0| 60.0| 62.0| 66.0| 70.0| 73.0| 60.0| 46.0| 23.0| 25.0| 23.0| 40.0| 36.0| 32.0| 25.0| 29.0|      大里|  PM2.5|
+----------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+--------+-------+
only showing top 20 rows

# 使用 DataFrame.select() 來進行資料之Projection http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [ ]:
df.filter(df.hr_01>50).select("hr_01","location","measure").show()

+-----+--------+-------+
|hr_01|location|measure|
+-----+--------+-------+
| 53.0|      大里|  PM2.5|
| 60.0|      大里|  PM2.5|
| 59.0|      大里|  PM2.5|
| 77.0|      大里|  PM2.5|
| 62.0|      大里|  PM2.5|
| 61.0|      大里|  PM2.5|
| 63.0|      大里|  PM2.5|
| 71.0|      大里|  PM2.5|
| 56.0|      大里|  PM2.5|
| 51.0|      大里|  PM2.5|
| 54.0|      大里|  PM2.5|
| 66.0|      大里|  PM2.5|
| 67.0|      大里|  PM2.5|
| 58.0|      大里|  PM2.5|
| 52.0|      大里|  PM2.5|
| 70.0|      大里|  PM2.5|
| 83.0|      大里|  PM2.5|
| 52.0|      大里|  PM2.5|
| 51.0|      大里|  PM2.5|
| 69.0|      大里|  PM2.5|
+-----+--------+-------+
only showing top 20 rows

## 使用 DataFrame.describe() 來進行DataFrame or Column 資料之統計 http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [ ]:
df.describe().show()

+-------+----------+-----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------+-------+
|summary|      date|            hr_01|            hr_02|            hr_03|             hr_04|             hr_05|             hr_06|             hr_07|            hr_08|             hr_09|             hr_10|            hr_11|             hr_12|             hr_13|             hr_14|             hr_15|             hr_16|             hr_17|             hr_18|             hr_19|             hr_20|             hr_21|             hr_22|            hr_23|             hr_24|location|measure|
+-------+----------+-----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------+-------+
|  count|       198|              198|              198|              198|               198|               198|               198|               198|              198|               198|               198|              198|               198|               198|               198|               198|               198|               198|               198|               198|               198|               198|               198|              198|               198|     198|    198|
|   mean|      null|30.04040404040404| 29.1010101010101| 28.1010101010101|27.065656565656564|25.853535353535353|25.055555555555557|24.883838383838384|26.51010101010101|29.636363636363637| 32.80808080808081|34.92424242424242| 35.43939393939394| 35.38383838383838| 34.59090909090909| 33.43434343434343|32.474747474747474|31.166666666666668|30.818181818181817| 30.63131313131313|31.747474747474747|32.505050505050505| 32.63636363636363|32.18181818181818|30.939393939393938|    null|   null|
| stddev|      null|20.06533449925237|19.65669565958899|19.77410240385312|19.417683403396772|19.423512953586293|18.827346577025022|17.742708273179396| 17.9863851214172|18.715858009304785|19.908509910497596|19.82561841058815|20.238021803881413|20.277119245283668|20.342481822089674|19.235997143765555|18.886432395137792| 17.98046034768634| 18.04948844775545|17.872090066443693|19.357624678266657| 20.29271767424397|21.098249522238337|21.75118347272709| 21.03336396373215|    null|   null|
|    min|2015/01/01|              2.0|              0.0|              0.0|               0.0|               0.0|               0.0|               0.0|              0.0|               0.0|               0.0|              0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|              0.0|               0.0|      大里|  PM2.5|
|    max|2015/12/29|            114.0|            109.0|            107.0|             102.0|              98.0|              88.0|              74.0|             77.0|              86.0|              90.0|             90.0|              99.0|             111.0|             101.0|              94.0|             104.0|              89.0|              86.0|              88.0|              99.0|             101.0|              98.0|            107.0|             110.0|      大里|  PM2.5|
+-------+----------+-----------------+-----------------+-----------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+--------+-------+

# 使用 DataFrame.agg() 來進行column數值之統計計算 http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [ ]:
from pyspark.sql import functions as F
df.agg(F.mean(df.hr_01),F.mean(df.hr_02)).show()

+-----------------+----------------+
|       avg(hr_01)|      avg(hr_02)|
+-----------------+----------------+
|30.04040404040404|29.1010101010101|
+-----------------+----------------+

#使用 DataFrame.withColumn() 來進行column新增column http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [ ]:
df.withColumn('hr_01', df.hr_01+df.hr_02)

DataFrame[date: string, hr_01: double, hr_02: double, hr_03: double, hr_04: double, hr_05: double, hr_06: double, hr_07: double, hr_08: double, hr_09: double, hr_10: double, hr_11: double, hr_12: double, hr_13: double, hr_14: double, hr_15: double, hr_16: double, hr_17: double, hr_18: double, hr_19: double, hr_20: double, hr_21: double, hr_22: double, hr_23: double, hr_24: double, location: string, measure: string]

# 練習1: 請算算看2015全國哪個測站，紫爆天數最多？

# 練習2: 請使用SPARK SQL求取2015年，全國pm2.5最高的前十個工作站測點以及其日期。

# 使用 Spark SQL來下達SQL查詢

In [ ]:
df.registerTempTable("DaliTable")

In [ ]:
spark.sql("""
            select * from DaliTable where date ='2015/02/07'
          """).show()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 10))

AnalysisException: ignored

In [ ]:
spark.sql("""
                select count(*) count 
                from DaliTable 
                where hr_01 > 100
               """).show()

In [ ]:
spark.sql("""
                select AVG(hr_01) count 
                from DaliTable
               """).show()

In [ ]:
spark.sql("""
                select date,location, hr_01, hr_02, hr_01-hr_02 as diff 
                from DaliTable
          """).show()

In [ ]:
spark.sql("""
                select date,location, hr_01, hr_02, hr_01+hr_02 as diff 
                from DaliTable 
                order by diff DESC
                """).show()

In [ ]:
spark.sql("""
                select date,location, hr_01+hr_02+hr_03+hr_04+hr_05+hr_06+hr_07+hr_08 as sum 
                from DaliTable 
                order by sum DESC
                """).show()

# 利用DataFrame 直接讀取CSV, Fillna, DropNa功能清洗資料

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .getOrCreate()

from pyspark.sql import SQLContext
from pyspark.sql import Row

In [ ]:
df = spark.read.load("./pm25.csv", format="csv")

In [ ]:
df.show()

+----------+---+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|       _c0|_c1|       _c2| _c3| _c4| _c5| _c6| _c7| _c8| _c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|
+----------+---+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|        日期| 測站|        測項|  00|  01|  02|  03|  04|  05|  06|  07|  08|  09|  10|  11|  12|  13|  14|  15|  16|  17|  18|  19|  20|  21|  22|  23|
|2015/01/01| 龍潭|  AMB_TEMP|  14|  14|  14|  13|  13|  13|  12|  12|  13|  14|  14|  14|  14|  14|  13|  13|  12|  11|  11|  11|  11|  11|  11|  11|
|2015/01/01| 龍潭|        CO|0.69|0.72|0.69|0.64|0.54|0.47|0.45|0.48|0.51|0.54|0.54| 0.5|0.47|0.38|0.36|0.35|0.34|0.37|0.34|0.29|0.26|0.22|0.19|0.18|
|2015/01/01| 龍潭|        NO| 0.3| 0.1| 0.6|   2|   2| 1.9| 2.2| 3.1| 3.7| 4.3| 4.3| 4.5| 3.3| 4.1| 3.1| 3.6| 3.6| 2.8| 2.8| 2.5| 2.2| 1.4| 2.1|   2|
|2015/01/01| 龍潭|       NO2|  11| 9.6| 8.7| 9.1| 9.6| 9.9|  11|  13|  11|  12|  12|  11|  11| 9.9| 9.9|  10|  11|  13|  11|  10| 8.2| 7.3| 6.5| 5.5|
|2015/01/01| 龍潭|       NOx|  11| 9.7| 9.3|  11|  12|  12|  13|  17|  15|  16|  16|  16|  14|  14|  13|  14|  15|  16|  14|  13|  10| 8.7| 8.6| 7.5|
|2015/01/01| 龍潭|        O3|  44|  43|  43|  44|  41|  39|  38|  34|  37|  37|  39|  44|  47|  49|  48|  44|  39|  37|  37|  39|  39|  38|  38|  39|
|2015/01/01| 龍潭|      PM10| 106| 138| 152| 152| 143| 128| 115| 106| 102| 105| 108| 114| 108|  96|  82|  74|  72|  72|  70|  60|  50|  37|  38|  40|
|2015/01/01| 龍潭|     PM2.5|  46|  71|  76|  74|  65|  62|  56|  50|  52|  56|  54|  47|  40|  36|  37|  27|  30|  25|  26|  24|  18|  16|  11|  14|
|2015/01/01| 龍潭|  RAINFALL|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|
|2015/01/01| 龍潭|        RH|  70|  69|  70|  70|  71|  72|  70|  69|  64|  60|  57|  53|  52|  52|  53|  56|  59|  60|  63|  62|  60|  62|  65|  64|
|2015/01/01| 龍潭|       SO2| 8.6| 8.5| 7.6| 6.7| 7.4| 6.4| 6.2| 7.2| 6.7| 6.5| 5.5| 4.8| 4.1| 3.2| 2.8| 2.8| 3.1| 2.8| 2.5|   2| 1.6| 1.5| 1.4| 1.2|
|2015/01/01| 龍潭|     WD_HR|  66|  70|  69|  68|  67|  72|  74|  72|  66|  66|  63|  60|  59|  62|  59|  63|  64|  62|  62|  62|  59|  59|  59|  61|
|2015/01/01| 龍潭|WIND_DIREC|  67|  70|  68|  67|  66|  75|  75|  73|  68|  64|  59|  59|  65|  62|  60|  68|  60|  61|  62|  61|  59|  63|  65|  58|
|2015/01/01| 龍潭|WIND_SPEED| 8.7| 7.5| 7.7| 7.2| 6.9| 5.3| 6.5| 6.4|   7| 7.1| 7.5| 7.3| 6.9| 7.4|   8| 8.3| 6.6| 7.3| 7.1|   7| 6.9| 7.5| 6.8| 5.8|
|2015/01/01| 龍潭|     WS_HR|   8| 7.7| 7.2| 6.9|   7| 6.6| 6.3| 6.2| 7.1|   7| 7.1| 7.6| 7.5| 7.5| 7.9| 7.9| 7.2| 6.9| 7.2| 6.9| 6.7| 6.9| 6.9| 5.7|
|2015/01/02| 龍潭|  AMB_TEMP|  11|  11|  11|  11|  11|  11|  11|  11|  13|  14|  15|  16|  16|  16|  16|  16|  15|  14|  13|  13|  13|  12|  12|  12|
|2015/01/02| 龍潭|        CO|0.17|0.17|0.18|0.18|0.23|0.24|0.26|0.33|0.34|0.35|0.35|0.34|0.32|0.31| 0.3|0.32| 0.3|0.34|0.33| 0.3|0.28|0.28|0.27|0.26|
|2015/01/02| 龍潭|        NO| 2.2| 1.6| 1.7| 1.8|   2| 1.9| 2.5| 3.4| 4.5|   5| 4.6| 4.6| 4.3|   4|   4| 3.6| 3.6| 3.1| 2.7| 2.6| 2.9| 2.3| 1.9| 2.2|
|2015/01/02| 龍潭|       NO2|   5| 5.4| 5.1| 5.1| 5.6|   7| 7.5| 9.6| 9.7| 9.5| 7.8| 7.4| 7.1| 7.1| 7.9| 9.2|  11|  13|  12|  10| 9.2| 8.5| 8.8| 9.2|
+----------+---+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [ ]:
df2=df.filter(df["_c0"]!="日期")

In [ ]:
df2.count()

465317

In [ ]:
df2.dropna()

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string, _c24: string, _c25: string, _c26: string]

In [ ]:
df2.count()

465317

In [ ]:
df2.filter(df2._c3.isNotNull()).show()

+----------+---+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|       _c0|_c1|       _c2| _c3| _c4| _c5| _c6| _c7| _c8| _c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|
+----------+---+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|2015/01/01| 龍潭|  AMB_TEMP|  14|  14|  14|  13|  13|  13|  12|  12|  13|  14|  14|  14|  14|  14|  13|  13|  12|  11|  11|  11|  11|  11|  11|  11|
|2015/01/01| 龍潭|        CO|0.69|0.72|0.69|0.64|0.54|0.47|0.45|0.48|0.51|0.54|0.54| 0.5|0.47|0.38|0.36|0.35|0.34|0.37|0.34|0.29|0.26|0.22|0.19|0.18|
|2015/01/01| 龍潭|        NO| 0.3| 0.1| 0.6|   2|   2| 1.9| 2.2| 3.1| 3.7| 4.3| 4.3| 4.5| 3.3| 4.1| 3.1| 3.6| 3.6| 2.8| 2.8| 2.5| 2.2| 1.4| 2.1|   2|
|2015/01/01| 龍潭|       NO2|  11| 9.6| 8.7| 9.1| 9.6| 9.9|  11|  13|  11|  12|  12|  11|  11| 9.9| 9.9|  10|  11|  13|  11|  10| 8.2| 7.3| 6.5| 5.5|
|2015/01/01| 龍潭|       NOx|  11| 9.7| 9.3|  11|  12|  12|  13|  17|  15|  16|  16|  16|  14|  14|  13|  14|  15|  16|  14|  13|  10| 8.7| 8.6| 7.5|
|2015/01/01| 龍潭|        O3|  44|  43|  43|  44|  41|  39|  38|  34|  37|  37|  39|  44|  47|  49|  48|  44|  39|  37|  37|  39|  39|  38|  38|  39|
|2015/01/01| 龍潭|      PM10| 106| 138| 152| 152| 143| 128| 115| 106| 102| 105| 108| 114| 108|  96|  82|  74|  72|  72|  70|  60|  50|  37|  38|  40|
|2015/01/01| 龍潭|     PM2.5|  46|  71|  76|  74|  65|  62|  56|  50|  52|  56|  54|  47|  40|  36|  37|  27|  30|  25|  26|  24|  18|  16|  11|  14|
|2015/01/01| 龍潭|  RAINFALL|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|  NR|
|2015/01/01| 龍潭|        RH|  70|  69|  70|  70|  71|  72|  70|  69|  64|  60|  57|  53|  52|  52|  53|  56|  59|  60|  63|  62|  60|  62|  65|  64|
|2015/01/01| 龍潭|       SO2| 8.6| 8.5| 7.6| 6.7| 7.4| 6.4| 6.2| 7.2| 6.7| 6.5| 5.5| 4.8| 4.1| 3.2| 2.8| 2.8| 3.1| 2.8| 2.5|   2| 1.6| 1.5| 1.4| 1.2|
|2015/01/01| 龍潭|     WD_HR|  66|  70|  69|  68|  67|  72|  74|  72|  66|  66|  63|  60|  59|  62|  59|  63|  64|  62|  62|  62|  59|  59|  59|  61|
|2015/01/01| 龍潭|WIND_DIREC|  67|  70|  68|  67|  66|  75|  75|  73|  68|  64|  59|  59|  65|  62|  60|  68|  60|  61|  62|  61|  59|  63|  65|  58|
|2015/01/01| 龍潭|WIND_SPEED| 8.7| 7.5| 7.7| 7.2| 6.9| 5.3| 6.5| 6.4|   7| 7.1| 7.5| 7.3| 6.9| 7.4|   8| 8.3| 6.6| 7.3| 7.1|   7| 6.9| 7.5| 6.8| 5.8|
|2015/01/01| 龍潭|     WS_HR|   8| 7.7| 7.2| 6.9|   7| 6.6| 6.3| 6.2| 7.1|   7| 7.1| 7.6| 7.5| 7.5| 7.9| 7.9| 7.2| 6.9| 7.2| 6.9| 6.7| 6.9| 6.9| 5.7|
|2015/01/02| 龍潭|  AMB_TEMP|  11|  11|  11|  11|  11|  11|  11|  11|  13|  14|  15|  16|  16|  16|  16|  16|  15|  14|  13|  13|  13|  12|  12|  12|
|2015/01/02| 龍潭|        CO|0.17|0.17|0.18|0.18|0.23|0.24|0.26|0.33|0.34|0.35|0.35|0.34|0.32|0.31| 0.3|0.32| 0.3|0.34|0.33| 0.3|0.28|0.28|0.27|0.26|
|2015/01/02| 龍潭|        NO| 2.2| 1.6| 1.7| 1.8|   2| 1.9| 2.5| 3.4| 4.5|   5| 4.6| 4.6| 4.3|   4|   4| 3.6| 3.6| 3.1| 2.7| 2.6| 2.9| 2.3| 1.9| 2.2|
|2015/01/02| 龍潭|       NO2|   5| 5.4| 5.1| 5.1| 5.6|   7| 7.5| 9.6| 9.7| 9.5| 7.8| 7.4| 7.1| 7.1| 7.9| 9.2|  11|  13|  12|  10| 9.2| 8.5| 8.8| 9.2|
|2015/01/02| 龍潭|       NOx| 7.2|   7| 6.8| 6.9| 7.6|   9|  10|  13|  14|  14|  12|  12|  11|  11|  12|  13|  14|  16|  15|  13|  12|  11|  11|  11|
+----------+---+----------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 20 rows

In [ ]:
for i in df2.columns[3:]:
  df2 = df2.withColumn(i, df2[i].cast("double"))

In [ ]:
df2.dropna().count()

366789

In [ ]:
df2 = df2.filter(df2["_c2"]!="RAINFALL")

# Perform Pearson Correlation using DataFrame.corr( )
# 練習: 計算大里區pm10, pm2.5 間之關聯度 http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame
使用前面所建立的clean_weather_data rdd資料
    
    
    corr(col1, col2, method=None)
    Calculates the correlation of two columns of a DataFrame as a double value. Currently only supports the Pearson Correlation Coefficient. DataFrame.corr() and DataFrameStatFunctions.corr() are aliases of each other.

    Parameters:	
    col1 – The name of the first column
    col2 – The name of the second column
    method – The correlation method. Currently only supports “pearson”
    New in version 1.4.

In [ ]:
def Generated_Measurement(x):
    date = x[0]
    location = x[1]
    measure = x[2]
    measurements_of_a_day = []
    for i, value in enumerate(x[3:]):
        measurements_of_a_day.append((date, measure, "hr_"+str(i), value))
    return measurements_of_a_day

daliData = clean_weather_data.filter(lambda x: x[1]=="大里" and (x[2] == "PM2.5" or x[2] == "PM10" ))
daliData.cache()

In [ ]:
daliData.toDF().show()

In [ ]:
from pyspark.sql import Row

daliDataRow = clean_weather_data.filter(lambda x: x[1]=="大里" and (x[2] == "PM2.5" or x[2] == "PM10" ))\
    .flatMap(Generated_Measurement)\
    .map(lambda x: ( (x[0], x[2]), x[1], x[3] ) )\
    .groupBy(lambda x: x[0])\
    .filter(lambda x: len(x[1])==2)\
    .mapValues(lambda x: list(x))\
    .mapValues(lambda x: [x[0][1], x[0][2], x[1][1], x[1][2]])\
    .map(lambda x:[ x[0][0], x[0][1], x[1][1], x[1][3]])\
    .map(lambda x: Row(
            date = x[0],
            time = x[1],
            pm10 = float(x[2]),
            pm25 = float(x[3])
        ))
    
df = spark.createDataFrame(daliDataRow)

In [ ]:
df.show(10)

In [ ]:
df.groupBy().avg().show()

In [ ]:
df.corr("pm10","pm25")

In [ ]:
df.describe().show()

KeyboardInterrupt: ignored